
@{
	ViewBag.Title = "Exceptions";
}

@section ScriptBody
{
	<script>
		angular.module("exampleApp", [])
			.controller("defaultCtrl", function ($scope, $exceptionHandler) {
				$scope.throwEx = function () {
					try {
						throw new Error("Triggered Exception");
					} catch (ex) {
						$exceptionHandler(ex.message, "Button Click");
					}
				}
			})
			.factory("$exceptionHandler", function($log) {
				return function(exception, cause) {
					$log.error("Message: " + exception.message + " (Cause: " + cause + ")");
				}
			});
	</script>
}

<h2>Exceptions</h2>

<div ng-app="exampleApp">
	<div ng-controller="defaultCtrl">
		<div class="panel panel-default">
			<div class="panel-body">
				<button class="btn btn-primary" ng-click="throwEx()">Throw Exception</button>
			</div>
		</div>
	</div>
</div>
