
@{
	ViewBag.Title = "CustomForms";
}

@section ScriptBody
{
	<script src="~/Scripts/angular.min.js"></script>

	<script type="text/ng-template" id="triTemplate">
		<div class="well">
			<div class="btn-group">
				<button class="btn btn-default">Yes</button>
				<button class="btn btn-default">No</button>
				<button class="btn btn-default">Not Sure</button>
			</div>
		</div>
	</script>

	<script>
		angular.module("exampleApp", [])
			.controller("defaultCtrl", function ($scope) {
				$scope.dataValue = "Not Sure";
			})
			.directive("triButton", function () {
				return {
					restrict: "E",
					replace: true,
					require: "ngModel",
					template: document.querySelector("#triTemplate").outerText,
					link: function (scope, element, attrs, ctrl) {
						var setSelected = function (value) {
							var buttons = element.find("button");
							buttons.removeClass("btn-primary");

							for (var i = 0; i < buttons.length; i++) {
								if (buttons.eq(i).text() == value) {
									buttons.eq(i).addClass("btn-primary");
								}
							}
						}

						element.on("click", function(event) {
							setSelected(event.target.innerText);
							scope.$apply(function(){
								ctrl.$setViewValue(event.target.innerText);
							});
						});

						ctrl.$formatters.push(function(value) {
							return value === "Huh?" ? "Not Sure" : value;
						});

						ctrl.$render = function () {
							setSelected(ctrl.$viewValue || "Not Sure");
						}
					}
				}
			});
	</script>
}

<h2>CustomForms</h2>

<div ng-app="exampleApp" ng-controller="defaultCtrl">
	<div>
		<tri-button ng-model="dataValue" />
	</div>

	<div class="well">
		Value:
		<select ng-model="dataValue">
			<option>Yes</option>
			<option>No</option>
			<option>Not Sure</option>
			<option>Huh?</option>
		</select>
	</div>
</div>
