
@{
	ViewBag.Title = "ScopeControl";
}

@section ScriptBody
{

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/js/controllers/Home/scopeCtrl.js"></script>

}
<h2>Scope Control</h2>
<div ng-app="exampleApp">
	<div ng-controller="scopeCtrl">
		<script type="text/ng-template" id="scopeTemplate">
			<div class="panel-body">
				@*<p>Name: <input ng-model="data.name" /></p>
					<p>City: <input ng-model="city" /></p>
					<p>Country: <input ng-model="country" /></p>
					<p>Data Value: {{local}}</p>*@
				@*<p>Data Value: <input ng-model="local" /></p>*@
				<p>Name: {{local}}, City: {{cityFn()}}</p>
			</div>
		</script>

		<div class="panel panel-default">
			@*<div class="panel-body" scope-demo></div>
				<div class="panel-body" scope-demo></div>*@
			<div class="panel-body">
				Direct Binding: <input ng-model="data.name" />
			</div>
			@*<div class="panel-body" scope-demo nameprop="data.name"></div>*@
			<div class="panel-body" scope-demo city="getCity(data.name)" nameprop="data.name"></div>
		</div>
	</div>
</div>
